.listSet {
    list-style: none;
    font-size: 30px;
    margin: 10px;
}

.name {
    font-weight: 600;
}

.count {
    background-color: blanchedalmond;
    border-radius: 50px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 10px;
}

.setBtn {
    background-color: rgb(253, 146, 146);
    border: none;
    margin: 0 5px 0 5px;
    font-size: 28px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.countPlus_btn:hover {
    color: rgb(88, 29, 252);
}
.countMinus_btn:hover {
    color: rgb(253, 32, 216);
}
.listTrash_btn:hover {
    color: rgb(249, 253, 22);
}
